<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <div class = "top-0">
      <button class="btn btn-circle">
        <img src="/assets/svg/coin.svg" alt="Coin" />
        <a>{{user.coins}}</a>
      </button>
    </div>
    <h2 class="card-title">
			{{user.username}}
		</h2>
    <div class="card-actions">
      <p>Level: {{user.level}}</p>
      <progress class="progress progress-primary w-56" value="{{nextLevelThreshold}}" max="{{current.levelThresholds}}">{{user.levelProgress}}%</progress>
  </div>
</div>