<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <div class = "top-0">
      <button class="btn btn-circle">
        <img src="/assets/svg/coin.svg" alt="Coin" />
        <a>{{user.coins}}</a>
      </button>
    </div>
    <h2 class="card-title">
			{{user.username}}
		</h2>
    <div class="card-actions">
      <p>Level: {{user.level}}</p>
      <div id="levelBar" class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{user.levelProgress}}%">{{user.levelProgress}}%</div>
      </div>
    <div class="card-actions justify-center">
      <button class="btn btn-primary">New Task</button>
    </div>
  </div>
</div>